#header {
    /*background: #000000;*/
    background: #323232;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#input {

}

#left { display:flex;

}

#left img {
    width: 32px;
    border-radius: 50%;
    margin-right: 20px;
}

#left input{
    margin-right: 10px;
    background-color:#323232;
}

#search-bar{
    margin-right: 20px;
    border: 2px solid 24292F;

}

#left ul{
    display: flex;
    gap: 10px;
}

#left ul li{
    list-style: none;
}

#right {
    display: flex;
}


#right img {
    width: 25px;
    margin-left: 10px;
    border-radius: 50%;
}

#right input{
    background-color:24292F;
}

#right svg{
    display: flex;
    width: 18px;
    margin-left: 10px;
}