@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

#header {
    background: #24292F;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

}

#left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#left img {
    width: 32px;
    border-radius: 50%;
    margin-right: 20px;
}

#left input{
    background: #24292F;
    border: none;
    outline: none;
    color: #C8C9CB;
}

#left input[ type="submit"]{
    border-radius: 4px;
    border: 1px solid #57606A;
    color: #979A9C;
}

#search-bar{
    margin-right: 1px;
    border: 1px solid #57606A;
    padding: 3px 2px;
    border-radius: 4px;

}

#left ul{
    display: flex;
    gap: 10px;
}

#left ul li{
    list-style: none;
}

#right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#right img {
    width: 32px;
    margin-left: 10px;
    border-radius: 50%;
}

#right input{
    background-color:#24292F;
}

#right svg{
    width: 18px;
    margin-left: 10px;

}